extends layouts/default
- status = typeof(status) != 'undefined' ? status : {}
- meta = (typeof meta != 'undefined') ? meta : {}

block extraStyles
  +css('/alertify.js/themes/alertify.core.css')
  +css('/alertify.js/themes/alertify.default.css')

block pageTitle
  title curapps | support
block metaDesc
  meta(name='description', content='Request a quote today')
block metaKeywords
  meta(name='keywords', content='hattiesburg, mississippi, quote, ios, web')
block mainContent
  h3 quote
  form.form-signin
    .pholder
    .control-group#name-cg
      label.control-label(for='name') Name
      .controls
        input(type='text', name="name", placeholder='Name').input-block-level

    .control-group
      label.control-label(for='phone') Phone
      .controls
        input(type='text', name="phone", placeholder='Phone').input-block-level
    .control-group#email-cg
      label.control-label(for='email') Email
      .controls
        input(type='text', name='email', placeholder='Email').input-block-level
    .control-group
      label.control-label(for='quotetype') Quote Type
      .controls
        select(name='quotetype').input-block-level
          option(value="apps") Applications
          option(value="hosting") Hosting
          option(value="web") Web
          option(value="consulting") Consulting
          option(value="email") Email 
    .control-group
      label.control-label(for='desc') Description
      .controls
        textarea#desc(name='desc', rows="4").input-block-level

    .control-group
      button#submitBtn(type='submit', data-loading-text='Submitting...').btn.btn-primary.btn-large Submit

block extraScripts
  +js('/socket.io/socket.io.js')
  +js('/alertify.js/lib/alertify.min.js')
  - if (env && env === 'production')
    +js('/js/min/quote.js')
  - else
    +js('/js/quote.js')